root {
--nepal: #849cbc;
--athens-gray: #fafafb;
--beauty-bush: #ebacb4;
--pink-flare: #e7ccd3;
--botticelli: #c1cede;
--chatelle: #bcb3c1;
--beauty-bush: #edbbc4;
--casper: #acc4d4;
--lily: #cfabbc;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
    padding-top: 56px;
}

.nav-link:hover {
    color: #fff !important;
}

.page-container {
	padding-bottom: 50px;
}

.page-title {
	padding-top: 50px;
    /* padding: 50px 0; */
	text-align: center;
}

.wrapper {
	display: grid;
	width: 80%;
	margin: 0 auto;
	gap: 20px;
}

.blurb {
    text-align: justify;
    padding: 0 7rem;
}

.italics {
    font-style: italic;
}

.gray {
	background-color: #C9C9C9;
	width: 100%;
	padding-top: 1em;
}

.TableauBorder {
	border: 2px solid black;
}

@media screen and (min-width: 1400px) {
    .blurb {
        padding: 0 10rem;
    }
}